body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000; /* Light blue background */
}

.watch-container {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-date-wrapper {
  display: flex;
  width: 100vw;
  height: 82vh; /* Occupy 80% of the height */
  justify-content: space-evenly; /* Even spacing between clock and date */
  align-items: center;
}

/* Clock box styling */
.clock-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47vw; /* Occupy 45% of the width */
  height: 100%; /* Occupy 90% of the parent height */
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.clock-text {
  font-size: 21vw; /* Responsive font size */
  font-weight: bold;
  color: #000000;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Date box styling */
.date-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 47vw; /* Occupy 45% of the width */
  height: 100%; /* Occupy 90% of the parent height */
  background-color: #000000;
  border-radius: 10px;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.date-day {
  font-size: 10vw; /* Responsive day size */
  color: #ff0000;
  font-weight: bold;
  line-height: 10vw;
}

.date-month {
  line-height: 10vw;
  font-size: 10vw; /* Responsive day size */
  color: #cccccc;
  font-weight: bold;
}

.date-number {
  line-height: 23vw;
  font-size: 28vw; /* Responsive date size */
  font-weight: bold;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .time-date-wrapper {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .clock-box,
  .date-box {
    width: 90vw; /* Adjust width for smaller screens */
    height: 40vh; /* Adjust height for smaller screens */
  }
}

.fullscreen-btn {
  position: absolute;
  top: 20px;
  color: #7d7d7d;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
